matplotlib
numpy
opencv-python
Pillow
PyYAML
requests
scipy
torch
torchvision
tqdm
protobuf
scikit-learn
tensorboard
pandas
seaborn
ipython
psutil
thop 
fastapi
uvicorn
python-multipart
supervision
ultralytics
typer